<%= image_tag("title.png", style: "margin-left: auto;
    margin-right: auto; display: block;") %>
<p style="text-align: center; width: 650px; font-size: 19px; margin: 35px auto;">Who is Oz? Oz is a magical werebat that inhabits Collider. He tells outsiders whether Collider is open for business or whether they should stay away from his evil prowess( he suffering from a condition called sleepmurders). He is the mister of Collider, surrounded by his scandalous bunny mistresses. He only comes out to greet those who are worthy. Come hack with us and see if you get a visits from him.</p>
<%= image_tag(@status+".png", style: "margin-left: auto;
    margin-right: auto; display: block;") %>
    <h1 style="text-align: center; font-weight:bold; font-size: 66px; text-transform:uppercase;">Collider is <%=@status%>!</h1>